.skeleton {
  background: #eee;
  background: linear-gradient(110deg, #ececec 8%, #f5f5f5 18%, #ececec 33%);
  border-radius: 5px;
  background-size: 200% 100%;
  animation: 1.5s shine linear infinite;
}

@keyframes shine {
  to {
    background-position-x: -200%;
  }
}

.skeleton_card {
  border: 1px solid #ddd;
  border-radius: 8px;
  background: #fff;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  height: 400px;
}

.skeleton_img {
  width: 100%;
  height: 180px;
}

.skeleton_title {
  width: 90%;
  height: 20px;
}

.skeleton_rating {
  width: 60%;
  height: 15px;
}

.skeleton_price {
  width: 40%;
  height: 20px;
}

.skeleton_btn {
  width: 100%;
  height: 35px;
  margin-top: auto;
}
