.login{
   height: 100vh;
   display: flex; 
   flex-direction: column;
   align-items: center;
}
.login img {
    margin: 30px auto;
    width: 100px;
    object-fit: contain;
}
.Login_container {
    width: 350px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    border: 1px solid lightgray;
    padding: 20px;
}

.Login_container h1 {
    font-size: 25px;
    margin: 20px 0;
}

.Login_container form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.Login_container form div {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.Login_container form input {
    margin-bottom: 10px;
    padding: 8px  16px;
    background-color: white;
    width: 100%;
    border: none;
    border: 1px solid gray;
    border-radius: 3px;

}

.Login_container form input:focus{
    outline: 2px solid skyblue;
}
.login_signInButton {
    border: none;
    background: #f0c1db;
    background-color: var(--primary-shade);
    border-radius: 5px;
    width: 100%;
    height: 30px;
    margin-top: 10px;
    cursor: pointer;
}
.login_signInButton:hover {
    background: #f0c1db;
}
.login_container p {
    padding: 10px 0px;
    font-size: 12px;
}
.login_registerButton {
    background-color: lightgray;
    border: none;
    border-radius: 5px;
    width: 100%;
    height: 30px;
    margin-top: 10px;
    cursor: pointer;
}
.login_registerButton:hover{
    background-color: lightcyan;
}
