.payment_header{
padding: 20px;
text-align: center;
font-size: 24px;
background-color: rgb(244,237,237) ;
}
.payment{
padding: 30px;
}
.flex{
display: flex;
gap:20px;
padding:30px;
flex-direction: column;
align-items: center;
}

.flex h3{
    min-width: 300px;
}
.flex img{
width:80px !important;
}
.flex div{
height: auto !important;
}


.payment_card_container{
    width:100%;
    max-width:350px;
}
.payment_price_container{
    padding: 20px;
}
.payment_price_container >div{
    display: flex;
    font-size: 18px;
    gap:10px;
}
.payment_details button {
  margin-top: 15px;
  width: 100%;
  border: none;
  background-color: var(--primary-color);
  border-radius: 5px;
  padding: 8px;
  cursor: pointer;
}
.payment_details button:hover{
  background-color: var(--primary-shade);
}
.payment_price_container span{
    display: flex;
    gap: 10px;
}

.loading{
  display: flex;
  align-items: center;
  gap:10px;
  justify-content: center;
  color: rgb(52, 52, 52);
}