*{
    margin: 0;
    padding: 0;
    font-family:sans-serif;
    box-sizing: border-box;

}
html,body{
    max-width: 100%;
     /* overflow-x: hidden;
    overflow-y: auto;  */
}
:root{
    --primary-color:#febd69;
     --primary-shade:#d49644;
}
