#container {
    background-color: #efeeee;
    padding: 30px;
}

.orders__container {
    background-color: #fff;
    padding: 20px;
}

.orders__container h2 {
    border-bottom: 2px solid var(--primary-shade);
    padding: 30px;
}
.orders__container div p {
    margin: 10px 0;
}
.orders__container img{
    width: 100px;
}