.categories {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 20px;
  background: #eaeded;
}

.card {
  background: #fff;
  padding: 16px;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.card a, .card a:hover {
  text-decoration: none;
  color: inherit;
}

.card:hover {
  transform: translateY(-4px);
}

.card img {
  width: 100%;
  height: 160px;
  object-fit: cover;
}

.card h3 {
  margin-top: 12px;
  font-size: 16px;
  font-weight: 600;
}
.card p {
  font-size: 14px;
  color: #007185; /* Amazon blue */
  font-weight: 600;
  cursor: pointer;
}
@media (max-width: 1024px) {
  .categories {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  .categories {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 430px) {
  .categories {
    grid-template-columns: 1fr;
    padding: 10px;
  }

  .card img {
    height: 140px;
  }
}
